apiVersion: apps/v1
kind: Deployment
metadata:
  name: ci-cd-demo
  labels:
    app: ci-cd-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ci-cd-demo
  template:
    metadata:
      labels:
        app: ci-cd-demo
      annotations:
        deploy-timestamp: "{{ lookup('pipe', 'date +%s') }}"
    spec:
      containers:
        - name: web
          image: ajaxr77/ci-cd-demo:{{ image_tag }}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
